In [4]:
import pickle
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn import svm
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE

In [5]:
data = []
for i in range(1,20):
    with open(f'Gameinfo_with_user_60000_to_70000_{i}.pickle','rb') as f:
        data+=pickle.load(f)

In [6]:
with open('Gameinfo_with_user_110000_to_110314.pickle','rb') as f:
        data+=pickle.load(f)

In [7]:
with open('Gameinfo_with_user_48336_to_48925.pickle','rb') as f:
        data+=pickle.load(f)

In [8]:
len(data)

1609

In [52]:
#pd.DataFrame(data).to_csv('User_data.csv')

In [40]:
df = pd.DataFrame(data[0]['participants'],columns=['summonerName','champ','chamW_R','chamKDA','recentW_R','recentKDA','totalW_R'])

In [41]:
df['win']=data[0]['win']
df = df.iloc[:,2:]

In [42]:
df = np.array(df).mean(axis=0)
df

array([51.0, 3.07, 50.2, 2.944, 52.4, 0.0], dtype=object)

In [43]:
for i in data[1:]:
    temp = pd.DataFrame(i['participants'],columns=['summonerName','champ','chamW_R','chamKDA','recentW_R','recentKDA','totalW_R'])
    temp['win'] = bool(i['win'])
    temp=temp.iloc[:,2:]
    temp = np.array(temp).mean(axis=0)
    df = np.vstack((df,temp))

In [44]:
df = pd.DataFrame(df,columns=['chamW_R','chamKDA','recentW_R','recentKDA','totalW_R','win'])

In [45]:
df

     chamW_R chamKDA recentW_R recentKDA totalW_R win
0         51    3.07      50.2     2.944     52.4   0
1       50.6   3.048      51.8     2.794     50.8   1
2       51.8   3.136      49.6     3.056     51.8   0
3       51.8   2.428      46.6     2.618     52.2   0
4         57     2.9      46.4     1.954       54   0
...      ...     ...       ...       ...      ...  ..
1604    55.8   2.376      47.2     2.434     54.2   1
1605    59.4    2.94      49.6     2.444     54.6   0
1606    52.6   2.504      52.2     2.264       53   0
1607    52.2   2.216      49.6     2.194     52.8   1
1608      52   2.834      51.2     3.106     51.2   0

[1609 rows x 6 columns]

In [36]:
df2

       chamW_R   chamKDA  recentW_R  recentKDA  totalW_R  win
0     0.564304  0.262404   0.666667   0.467492  0.500000  0.0
1     0.559055  0.259372   0.727273   0.428793  0.461165  1.0
2     0.574803  0.271499   0.643939   0.496388  0.485437  0.0
3     0.574803  0.173925   0.530303   0.383385  0.495146  0.0
4     0.643045  0.238975   0.522727   0.212074  0.538835  0.0
...        ...       ...        ...        ...       ...  ...
1604  0.627297  0.166759   0.553030   0.335913  0.543689  1.0
1605  0.674541  0.244487   0.643939   0.338493  0.553398  0.0
1606  0.585302  0.184399   0.742424   0.292054  0.514563  0.0
1607  0.580052  0.144708   0.643939   0.273994  0.509709  1.0
1608  0.577428  0.229879   0.704545   0.509288  0.470874  0.0

[1609 rows x 6 columns]

In [18]:
df.corr(method='spearman')

Empty DataFrame
Columns: []
Index: []

In [13]:
cor

Empty DataFrame
Columns: []
Index: []

In [38]:
df=df.iloc[:,2:]

In [26]:
scaler = MinMaxScaler()

In [27]:
scaler.fit(df)

MinMaxScaler()

In [28]:
df2 = pd.DataFrame(scaler.transform(df),columns=['chamW_R','chamKDA','recentW_R','recentKDA','totalW_R','win'])

In [29]:
df2

       chamW_R   chamKDA  recentW_R  recentKDA  totalW_R  win
0     0.564304  0.262404   0.666667   0.467492  0.500000  0.0
1     0.559055  0.259372   0.727273   0.428793  0.461165  1.0
2     0.574803  0.271499   0.643939   0.496388  0.485437  0.0
3     0.574803  0.173925   0.530303   0.383385  0.495146  0.0
4     0.643045  0.238975   0.522727   0.212074  0.538835  0.0
...        ...       ...        ...        ...       ...  ...
1604  0.627297  0.166759   0.553030   0.335913  0.543689  1.0
1605  0.674541  0.244487   0.643939   0.338493  0.553398  0.0
1606  0.585302  0.184399   0.742424   0.292054  0.514563  0.0
1607  0.580052  0.144708   0.643939   0.273994  0.509709  1.0
1608  0.577428  0.229879   0.704545   0.509288  0.470874  0.0

[1609 rows x 6 columns]

In [30]:
cor2=df2.corr()
cor2

            chamW_R   chamKDA  recentW_R  recentKDA  totalW_R       win
chamW_R    1.000000  0.534616   0.126920   0.149334  0.357452  0.363036
chamKDA    0.534616  1.000000   0.147927   0.363831  0.290998  0.183346
recentW_R  0.126920  0.147927   1.000000   0.436839  0.177591  0.015698
recentKDA  0.149334  0.363831   0.436839   1.000000  0.238271  0.069476
totalW_R   0.357452  0.290998   0.177591   0.238271  1.000000  0.122818
win        0.363036  0.183346   0.015698   0.069476  0.122818  1.000000

In [53]:
cor

            chamW_R   chamKDA  recentW_R  recentKDA  totalW_R       win
chamW_R    1.000000  0.479773   0.077386   0.092449  0.250065  0.189383
chamKDA    0.479773  1.000000   0.219957   0.350657  0.213003  0.083252
recentW_R  0.077386  0.219957   1.000000   0.505292  0.105894  0.006109
recentKDA  0.092449  0.350657   0.505292   1.000000  0.185709  0.030758
totalW_R   0.250065  0.213003   0.105894   0.185709  1.000000  0.062504
win        0.189383  0.083252   0.006109   0.030758  0.062504  1.000000

In [2]:
SVM = svm.SVC()
LR = LogisticRegression()

In [46]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1:]

In [59]:
X.isnull().sum()

chamW_R      0
chamKDA      0
recentW_R    0
recentKDA    0
totalW_R     0
dtype: int64

     win
0      0
1      1
2      0
3      0
4      0
...   ..
1604   1
1605   0
1606   0
1607   1
1608   0

[1609 rows x 1 columns]

In [64]:
SVM.fit(X,y)
LR.fit(X,y)

C:\Users\DongwonLee\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\DongwonLee\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [65]:
SVM.score(X,y)

0.6544437538844002

In [69]:
LR.score(X,y)

0.6507147296457427

In [28]:
tsne = TSNE(n_components=1,learning_rate=100.0)

In [47]:
tsne_results = tsne.fit_transform(X)

In [51]:
#pd.DataFrame(tsne_results).to_csv('User_tsne.csv')